* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
}

h1 {
    text-align: center;
}

.head-wrapper {
    margin: 0px;
}

.header {
    width: 100%;
    height: 50px;
    background: gray;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}

.sitename {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 50px;
    text-align: center;
    color: white;
    font-size: 40px;
}

.navbar-wrapper > .container {
    margin: auto;
}

/*naaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaav*/
nav {
    display: block;
    position: relative;
}

.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;

}

.navbar-inverse {
    background-color: #A51D1D;
    border-color: #080808;
}

.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 1px;
}

.navbar {
    position: relative;
    border: 1px solid #c81d1d00;
    min-height: 50px;
}

.navbar-wrapper .navbar .container {
    width: auto;
}

/*ссылка и кнопка*/

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    box-sizing: border-box;
    color: #9d9d9d;
    clear: both;
    margin-left: auto;
}

/*мммммммммммммиииииииииииини блоки*/
.mini-block {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    position: relative;
    margin-top: 20px;
    font-family: 'CenturyGothicRegular', Helvetica, Arial, sans-serif;
}

.mini-block img {
    width: 50%;
    border-radius: 5%;
    margin: 10px;
}

/*делаю тело*/
.body-wrapper {
    position: relative;
    margin-top: 0px;

}

.block {
    width: 100%;
    height: 480px;

}

footer {
    width: 100%;
    height: 35px;
    background: black;
    color: white;
}

/*navbar*/
.navbar-wrapper {
    margin-top: 70px;
}

.navbar-wrapper .navbar {
    border-radius: 4px;
}

.container {
    width: 1170px;
}

.navbar-header {
    float: left;
    margin-right: 0;
    margin-left: 0;
}

/*делаю выпадающее меню*/
.header-top-nav {
    display: block;
}

.main-menu-nav {
    opacity: 1;
    margin: 0;
    padding: 0;
    float: right;
    margin: 5px;
    z-index: 100;
    font: normal 14px Helvetica, Arial, sans-serif;
}

.main-menu-nav > li {
    display: inline-block;
    margin-right: -4px;
    white-space: nowrap;
    position: relative;

}

.main-menu-nav a {
    display: block;
    padding: 8px 10px;
    background-color: #5a656b;
    border: 1px solid black;
    margin-left: -1px;
    height: 40px;
    border-bottom: 1px solid #222;
    background: #333;
    background-image: -webkit-linear-gradient(#444, #333);
    background-image: -moz-linear-gradient(#444, #333);
    background-image: -ms-linear-gradient(#444, #333);
    background-image: linear-gradient(#444, #333);
    -webkit-box-shadow: inset 0 1px 0 0 rgba(250, 250, 250, 0.1);
    -moz-box-shadow: inset 0 1px 0 0 rgba(250, 250, 250, 0.1);
    box-shadow: inset 0 1px 0 0 rgba(250, 250, 250, 0.1);
    color: #C9C9C9;
    text-decoration: none;
    text-shadow: 1px 1px 3px #111;
    font-weight: normal;
}

.main-menu-1 {
    width: 180px;

}

.main-menu-1 li {
    width: 180px;
}

.main-menu-nav a:hover {
    background: #808f98;
}

.main-menu-nav .sub-menu {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 150px;
    display: none;
}

.main-menu-nav .sub-menu a {
    margin-bottom: -1px;
    border: 1px solid #3f4345;
}

.main-menu-nav > li:hover .sub-menu {
    display: block;
}

/*делаю карусель */
.carusel {
    background: #aacbc3;
    height: 600px;
    width: 100%;
    margin-top: -70px;
    margin-bottom: 0px;
    display: block;
}

.carousel-wrapper {
    position: relative;
    z-index: 0;
    margin: 0 auto;
}

.carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 0.9s ease-in-out;
}

.arrow {
    position: absolute;
    top: 0;
    display: block;
    width: 150px;
    height: 600px;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    opacity: .2;
    color: black;
}

.arrow-prev {
    left: 0;
    background: linear-gradient(to right, rgb(234, 239, 242), rgba(255, 255, 255, 0)), url(for_gradient.jpg);
}

.arrow-next {
    right: 0;
    background: linear-gradient(to left, rgb(234, 239, 242), rgba(255, 255, 255, 0)), url(for_gradient.jpg);
}

.arrow-prev:hover {
    color: white;
    background: linear-gradient(to right, rgb(117, 194, 240), rgba(255, 255, 255, 0)), url(for_gradient.jpg);
}

.arrow-next:hover {
    color: white;
    background: linear-gradient(to left, rgb(117, 194, 240), rgba(255, 255, 255, 0)), url(for_gradient.jpg);
}

.glyphicon:hover {
    color: white;
}

[id^="target-item"] {
    display: none;
}

.item-1 {
    z-index: 2;
    opacity: 1;
}

*:target ~ .item-1 {
    opacity: 0;
}

#target-item-1:target ~ .item-1 {
    opacity: 1;
}

#target-item-2:target ~ .item-2, #target-item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
}

.glyphicon {
    width: 50px;
    height: 50px;
    margin-top: -15px;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    top: 260px;
    z-index: 5;
    display: inline-block;
    line-height: 1;
    text-align: center;
    text-shadow: 0 3px 6px rgba(0, 0, 0, .6);
}

.glyphicon-chevron-left {

    left: 20px;
}

.glyphicon-chevron-right {

    right: 20px;
}

.img-carousel-item {
    position: absolute;
    padding: 0px;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 600px;
}

/*мини блоки делаююююююююююююююююююю*/

.mini-block {
    display: block;
    width: 33.3%;
    text-align: center;
    position: relative;
    margin-top: 60px;
    font-family: 'CenturyGothicRegular', Helvetica, Arial, sans-serif;
}

.mini-block img {
    width: 70%;
    margin: auto;
    position: relative;
    background-size: cover;
}

.block-0-1 {
    float: left;
}

.block-0-2, .block-0-3 {
    float: right;
}
