.wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

sup{
    color:red;
}
label{
    display: block;
}

h1{
    margin-bottom: 1px;
}
p{
    margin: 3px 3px 15px 3px;
}
span{
    width:113px;
    display: inline-block;
    padding: 8px;
}
fieldset{
    width: 530px;
}

input{
    width: 250px;
}
select{
    width: 250px;
}
textarea{
    width: 250px;
    height: 80px;
}
.pers{
    display: block;
    float: left;
}
.animals label{
    display: inline-block;
    float: left;
    width: 120px;
    margin-bottom: 10px;
}
.animals input{
    width: 20px;
}
.button{
    height: 40px;
    width: 170px;
    margin-top: 15px;
}